<mat-toolbar class="mx-auto border-x">
    <mat-toolbar-row class="justify-between px-5">
      <a routerLink="home" class="text-xl">Admin</a>
      <button mat-button>
        <mat-icon>login</mat-icon> Login
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container h-full">
    <mat-sidenav class="w-40"  mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="link1">Categories</a>
        <!-- Add more navigation links as needed -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  